<h1>Fashion Show</h1>

<!-- <%= render partial: 'navigation' %> -->

<h2>Hello <%= @fashion.name %></h2>

<ul>

  <%= @fashion.each do |fashion| %>
  <li>
    <%= fashion.name %>
  </li>
  <li>
    <%= fashion.height %>
  </li>
  <li>
    <%= fashion.width %>
  </li>
  <li>
    <%= fashion.brand %>
  </li>
  <li>
    <%= fashion.work_it %>
  </li>

  <%= end %>

</ul>
