<h1>Fashions!</h1>

<ul>
  <% @fashions.each do |fashion| %>
    <li>
      <%= fashion.name %>
      <%= fashion.height %>
      <%= fashion.weight %>
      <%= fashion.brand %>
      <%= fashion.work_it %>
    </li>
  <% end %>
</ul>
