<h1>Fashions#show</h1>
<h1>Fashion [Model] Show</h1>

<%= render partial: '' %>

<h2>Hello <%= fashion.name %></h2>

<ul>
  <% @fashion.each do |fashion| %>
    <li>
      <%= fashion.name %>
    </li>
    <li>
      <%= fashion.height %>
    </li>
    <li>
      <%= fashion.brand %>
    </li>
    <% end %>
</ul>
<p>Find me in app/views/fashions/show.html.erb</p>
